@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-family: "Cairo";
  font-size: 10px;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: #0048E8;
  color: #fff;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 95%;
  max-width: 800px;
  text-align: center;
  font-size: 1.25rem;
}

.content h2::after{
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 20rem;
  background-color: #fff;
}

.multi-title{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

a, a:link,  a:hover, a:visited, a:active{
  text-decoration: none;
  color: #fff;
  text-align: left;
}

p{
  direction: rtl;
  text-align: right;
}

@media only screen and (min-width: 768px) {

  :root{
    font-size: 16px;
  }
}